# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Specific files
scratch.*
*.dSYM
index.html
midnight
midnight.sublime-workspace
midnight.sublime-project
http11_parser.c
worker.c
site*